<div class="jumbotron">
    <h1 class="title">成為Xdite</h1>
    <p class="slogan">人要衣裝，佛要金裝
    <br>
    想變大神，先創環境
    <br>
    配備齊了，程式威了
    <br><br>
    究竟，眾神器在何方
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">來看看</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@fullstackshop.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
